.mini-cart-content {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  animation: fadeMinicartIn 0.3s;
  padding: 20px;
  border-radius: 8px;
  background: #fff;
  box-shadow: #00000030 0px 3px 9px 6px;
  position: absolute;
  z-index: 1000;
  width: 100%;
  min-width: 400px;
}

.mini-cart-content::before {
  position: absolute;
  top: -20px;
  right: 10%;

  content: "";
  border-bottom: 20px solid #fff;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}

@keyframes fadeMinicartIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.minicartCartBtns a:nth-child(2)::before {
  content: "";
  background: #000;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.minicartCartBtns a:nth-child(2):hover::before {
  transform: translate3d(100%, 0, 0);
}

.minicartCartBtns a:nth-child(2):active {
  transform: scale(0.95);
}

.minicartCartBtns a:first-child {
  padding: 10px;
  border: 1px solid #000;
}

.minicartCartBtns a:first-child:hover {
  /* box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.3); */
  background-color: #000;
  color: #fff;
  transition: 0.4s ease all;
}

.minicart_wrapper > ul > li div:not(:last-child) button {
  border: 1px solid black;
  padding: 0 8px;
  transition: 0.1s ease all;
}

.minicart_wrapper > ul > li div:not(:last-child) button:hover {
  background-color: #000;
  color: #fff;
  transition: 0.2s ease all;
}

.minicart_wrapper > ul > li div:not(:last-child) button:active {
  background-color: #6a6a6a;
  transition: 0.1s ease all;
}

@keyframes removeItemAnimation {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.cart-item {
  transition: opacity 0.5s ease;
}

.remove-animation {
  animation: removeItemAnimation 0.5s ease forwards;
}
