#informative {
  padding: 8px 0;
}

.informative_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info_left,
.info_right,
.header_social_icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
}

.seperator_border {
  height: 70%;
  width: 1px;
  background: rgb(124 124 124);
}

.info_left span:first-child,
.seperator_border,
.header_social_icons {
  margin-right: 10px;
}

.info_right span:first-child {
  margin-right: 15px;
}

.header_social_icons svg:first-child {
  margin-right: 7px;
}

.header_social_icons svg {
  width: 15px;
  height: 15px;
  transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -ms-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
}

.header_social_icons svg:hover {
  opacity: 0.8;
  transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -ms-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
}