/* #filters {
  margin: 1rem 0;
} */

/* #filters {
  margin: 1em 0;
} */

.range_slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.range_slider input[type="range"] {
  width: 200px;
  margin: 10px;
}
