.places_container {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 300px;
}

.map_container {
  width: 100%;
  height: 30vh;
  border-radius: 12px;
}

.combobox_input {
  width: 100%;
  padding: 0.5rem;
}
